:root {
  --color: #ddd;
  --placeholder-color: #aaa;
  --background-color: #08061d;
  --sign-background-color: #1b2a4a;
  --title-color: #fff;
  --a-btn-color: #008cff;
  --btn-color: #358df2;
  --view-all-btn-background-color: #353445;
  --search-bar-border-color: #535353;
  --scroll-bar-color: #353445;
  --title-border-color: #2f71ff;
  --volumn-chart-top-background-color: #2c3955;
  --volumn-chart-bottom-background-color: #5b6375;
  --volumn-chart-plus-color: #00ff84;
  --volumn-chart-address-color: #00e5ff;
  --admin-call-background-color: #5c6475;
}
