.project-big-chart-view-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;

  .project-big-chart-view-item-title {
    color: var(--title-color);
    font-size: 32px;
    margin-bottom: 20px;
    width: 100%;
  }

  .project-big-chart-view-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    background-color: var(--sign-background-color);
    border-radius: 16px;
    padding: 20px 30px;
    gap: 10px;

    @media (max-width: 991px) {
      width: 100%;
    }

    .project-big-chart-view-item-content-title {
      font-size: 22px;
    }

    .project-big-chart-view-item-content-value {
      color: var(--title-color);
      font-weight: bold;
      font-size: 22px;
    }

    .project-big-chart-view-item-content-type {
      font-size: 22px;

      span {
        font-size: 22px;
        color: var(--volumn-chart-plus-color);
      }
    }

    .project-big-chart-view-item-content-img {
      width: 100%;
    }
  }
}
